@import url("https://fonts.googleapis.com/css?family=Dosis");

html, body, #root {
    height: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-center {
  text-align: center;
}

.input {
  margin-top: 16px;
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 50px 0 0 50px;
  box-shadow: none;
  border: 1px solid #AAA;
}

.input::placeholder {
  color: #AAA;
}

.btn {
  background-color: #EAEAEA;
  padding: 10px 16px;
  border-radius: 0 50px 50px 0;
  box-shadow: none;
  border: 1px solid #AAA;
  color: #555;
}

.btn:hover, .btn:focus, .btn:active {
  color: #AAA;
}